table#u_content_social_1(style="font-family:'Raleway',sans-serif;" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
    tbody
        tr
            td.v-container-padding-padding(style="overflow-wrap:break-word;word-break:break-word;padding:0px 10px 20px 40px;font-family:'Raleway',sans-serif;" align='left')
                div(align='left')
                    div(style='display: table; max-width:167px;')
                        table(align='left' border='0' cellspacing='0' cellpadding='0' width='32' height='32' style='width: 32px !important;height: 32px !important;display: inline-block;border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;margin-right: 10px')
                            tbody
                                tr(style='vertical-align: top')
                                    td(align='left' valign='middle' style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
                                        a(href='https://www.facebook.com/unlayer' title='Facebook' target='_blank')
                                            img(src='https://i.imgur.com/PVu0Bys.png' alt='Facebook' title='Facebook' width='32' style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important')

                        table(align='left' border='0' cellspacing='0' cellpadding='0' width='32' height='32' style='width: 32px !important;height: 32px !important;display: inline-block;border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;margin-right: 10px')
                            tbody
                                tr(style='vertical-align: top')
                                    td(align='left' valign='middle' style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
                                        a(href='https://twitter.com/unlayerapp' title='Twitter' target='_blank')
                                            img(src='https://i.imgur.com/TZTip8A.png' alt='Twitter' title='Twitter' width='32' style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important')

                        table(align='left' border='0' cellspacing='0' cellpadding='0' width='32' height='32' style='width: 32px !important;height: 32px !important;display: inline-block;border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;margin-right: 10px')
                            tbody
                                tr(style='vertical-align: top')
                                    td(align='left' valign='middle' style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
                                        a(href='https://www.linkedin.com/company/unlayer/mycompany/' title='LinkedIn' target='_blank')
                                            img(src='https://i.imgur.com/DFOme1L.png' alt='LinkedIn' title='LinkedIn' width='32' style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important')

                        table(align='left' border='0' cellspacing='0' cellpadding='0' width='32' height='32' style='width: 32px !important;height: 32px !important;display: inline-block;border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;margin-right: 0px')
                            tbody
                                tr(style='vertical-align: top')
                                    td(align='left' valign='middle' style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
                                        a(href='https://www.instagram.com/unlayer_official/' title='Instagram' target='_blank')
                                            img(src='https://i.imgur.com/JUVvkf5.png' alt='Instagram' title='Instagram' width='32' style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important')
