extends base

block content
    .u-row-container(style='padding: 0px;background-color: #242424')
        .u-row(style='margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
            div(style='border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;')
                .u-col.u-col-100(style='max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;')
                    div(style='background-color: #242424;height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                        div(style='box-sizing: border-box; height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                            table#u_content_text_1(style="font-family:'Raleway',sans-serif;" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                                tbody
                                    tr
                                        td.v-container-padding-padding(style="overflow-wrap:break-word;word-break:break-word;padding:60px 30px 10px;font-family:'Raleway',sans-serif;" align='left')
                                            .v-text-align.v-font-size(style='font-size: 22px; color: #ffffff; line-height: 140%; text-align: left; word-wrap: break-word;')
                                                p(style='line-height: 140%;')
                                                    span(data-metadata='<!--(figmeta)eyJmaWxlS2V5IjoiaENIOGdkWkRUSW9JVDF4OUsyMG55aSIsInBhc3RlSUQiOjE3ODA4ODYzODMsImRhdGFUeXBlIjoic2NlbmUifQo=(/figmeta)-->' style='line-height: 30.8px;') Dear #{name},
                                                p(style='line-height: 140%;') &nbsp;
                                                p(style='line-height: 140%;')
                                                    span(data-metadata='<!--(figmeta)eyJmaWxlS2V5IjoiaENIOGdkWkRUSW9JVDF4OUsyMG55aSIsInBhc3RlSUQiOjE3ODA8ODYzODMsImRhdGFUeXBlIjoic2NlbmUifQo=(/figmeta)-->' style='line-height: 30.8px;')
                                                        p
                                                            | Forgot your password?
                                                            br
                                                            | Submit a request with your new password and password confirmation to:
                                                            br
                                                            a(href=resetURL target='_blank' style='text-decoration: none;')
                                                                button(type='button' style='background-color: #00FF00; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;')
                                                                | Reset Password
                                                            br
                                                            br
                                                            | If you didn't forget your password, please ignore this email
                                                    p(style='line-height: 140%;') &nbsp;






    .u-row-container(style='padding: 0px;background-color: transparent')
        .u-row(style='margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
            div(style='border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;')

                .u-col.u-col-100(style='max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;')
                    div(style='background-color: #000000;height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')

                        div(style='box-sizing: border-box; height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                            table#u_content_heading_2(style="font-family:'Raleway',sans-serif;" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                                tbody
                                    tr
                                        td.v-container-padding-padding(style="overflow-wrap:break-word;word-break:break-word;padding:60px 10px 10px 40px;font-family:'Raleway',sans-serif;" align='left')
                                            h1.v-text-align.v-font-size(style='margin: 0px; color: #ffffff; line-height: 140%; text-align: left; word-wrap: break-word; font-size: 22px; font-weight: 400;')
                                                span(data-metadata='<!--(figmeta)eyJmaWxlS2V5IjoiaUdkbDhwdlZkTlBQU2x2aTlkeXpHRyIsInBhc3RlSUQiOjIwMjM3MDI2MTAsImRhdGFUeXBlIjoic2NlbmUifQo=(/figmeta)-->')
                                                strong
                                                    | Thank you for choosing Hortus as your gardening companion.
                                                    br
                                                    br
                                                    | We&apos;re here to support you on your journey to greener and more beautiful surroundings.
                            table#u_content_text_5(style="font-family:'Raleway',sans-serif;" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                                tbody
                                    tr
                                        td.v-container-padding-padding(style="overflow-wrap:break-word;word-break:break-word;padding:10px 60px 25px 40px;font-family:'Raleway',sans-serif;" align='left')
                                            .v-text-align.v-font-size(style='font-size: 14px; color: #b8b8b8; line-height: 170%; text-align: left; word-wrap: break-word;')
                                                p(style='line-height: 170%;')
                                                    span(style='line-height: 23.8px;')
                                                        | If you have any questions, need assistance, or simply want to share your gardening successes, feel free to reach out to our friendly customer support team at &nbsp;
                                                        a(href='www.unlayer.com') hortus@support.com
                                                        | .
                                                p(style='line-height: 170%;')
                                                    span(style='line-height: 23.8px;') We&rsquo;d love to hear from you!
                                                p(style='line-height: 170%;')
                                                    span(style='line-height: 23.8px;')
                                                        br
                                                        | Stay tuned for exclusive offers, gardening tips, and exciting updates delivered directly to your inbox by subscribing to our newsletter!
                                                        br
                                                p(style='line-height: 170%;') Happy Gardening! &#x1F33F;&#x1F33B;