extends base

block content
    .u-row-container(style='padding: 0px;background-color: #242424')
        .u-row(style='margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
            div(style='border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;')
                .u-col.u-col-100(style='max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;')
                    div(style='background-color: #242424;height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                        div(style='box-sizing: border-box; height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                            table#u_content_text_1(style="font-family:'Raleway',sans-serif;" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                                tbody
                                    tr
                                        td.v-container-padding-padding(style="overflow-wrap:break-word;word-break:break-word;padding:60px 30px 10px;font-family:'Raleway',sans-serif;" align='left')
                                            .v-text-align.v-font-size(style='font-size: 22px; color: #ffffff; line-height: 140%; text-align: left; word-wrap: break-word;')
                                                p(style='line-height: 140%;')
                                                    span(data-metadata='<!--(figmeta)eyJmaWxlS2V5IjoiaENIOGdkWkRUSW9JVDF4OUsyMG55aSIsInBhc3RlSUQiOjE3ODA4ODYzODMsImRhdGFUeXBlIjoic2NlbmUifQo=(/figmeta)-->' style='line-height: 30.8px;') Dear #{name},
                                                p(style='line-height: 140%;') &nbsp;
                                                p(style='line-height: 140%;')
                                                    span(data-metadata='<!--(figmeta)eyJmaWxlS2V5IjoiaENIOGdkWkRUSW9JVDF4OUsyMG55aSIsInBhc3RlSUQiOjE3ODA4ODYzODMsImRhdGFUeXBlIjoic2NlbmUifQo=(/figmeta)-->' style='line-height: 30.8px;')
                                                        strong
                                                            | We&apos;re thrilled to welcome you to &nbsp;
                                                            span(style='color: #54a7f8; line-height: 30.8px;') Hortus
                                                            | , your one-stop destination for all things green and beautiful!
                                                        |  &#x1F33F;&#x1F33C;
                                                p(style='line-height: 140%;') &nbsp;
                            table#u_content_text_9(style="font-family:'Raleway',sans-serif;" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                                tbody
                                    tr
                                        td.v-container-padding-padding(style="overflow-wrap:break-word;word-break:break-word;padding:6px 30px 10px;font-family:'Raleway',sans-serif;" align='left')
                                            .v-text-align.v-font-size(style='font-size: 17px; color: #ffffff; line-height: 130%; text-align: left; word-wrap: break-word;')
                                                p(style='line-height: 130%;') Congratulations on creating your Hortus account!
                                                p(style='line-height: 130%;')
                                                    | You&apos;ve taken the first step toward cultivating your own green oasis and embarking on a journey filled with the joys of gardening and plant care.
                                                p(style='line-height: 130%;') &nbsp;
                            table#u_content_text_2(style="font-family:'Raleway',sans-serif;" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                                tbody
                                    tr
                                        td.v-container-padding-padding(style="overflow-wrap:break-word;word-break:break-word;padding:0px 30px 60px;font-family:'Raleway',sans-serif;" align='left')
                                            .v-text-align.v-font-size(style='font-size: 14px; color: #ced4d9; line-height: 150%; text-align: left; word-wrap: break-word;')
                                                p(style='line-height: 150%;')
                                                    span(data-metadata='<!--(figmeta)eyJmaWxlS2V5IjoiaENIOGdkWkRUSW9JVDF4OUsyMG55aSIsInBhc3RlSUQiOjIwNTkzMTg3MjUsImRhdGFUeXBlIjoic2NlbmUifQo=(/figmeta)-->' style='line-height: 21px;')
                                                    | Here at Hortus, we&apos;re passionate about helping you transform your living spaces into vibrant and flourishing havens of nature..
                                                p(style='line-height: 150%;') &nbsp;
                                                p(style='line-height: 150%;')
                                                    | Whether you&apos;re an experienced gardener or just starting out, we&apos;re committed to providing you with the tools, knowledge, and inspiration you need to succeed.
                                                p(style='line-height: 150%;') &nbsp;
                                                p(style='line-height: 150%;') Here&apos;s a glimpse of what you can expect from your Hortus experience:
                                                ul
                                                    li(style='line-height: 21px;')
                                                        | Expansive Plant Catalog &#x1F331;: Explore our extensive collection of plants, from exotic succulents to classic roses. Find the perfect addition to your garden or indoor space.
                                                    li(style='line-height: 21px;')
                                                        | Informative Resources &#x1F4DA;: Dive into our library of articles, guides, and tutorials. Learn the best practices for plant care, gardening tips, and much more.
                                                    li(style='line-height: 21px;')
                                                        | Community of Enthusiasts &#x1F33B;: Connect with fellow plant lovers, share your experiences, and seek advice in our vibrant and supportive community forum.
                                                    li(style='line-height: 21px;')
                                                        | Convenient Shopping &#x1F6D2;: Browse our user-friendly online store, where you can conveniently shop for plants, gardening tools, and accessories.
                                                    li(style='line-height: 21px;')
                                                        | Personalized Recommendations &#x1F48C;: Receive tailored plant care tips and product suggestions based on your interests and the plants you own.
                                                p(style='line-height: 150%;') &nbsp;
                                                p(style='line-height: 150%;') Explore all the fantastic features that await you.
                                                p(style='line-height: 150%;')
                                                    | Don&apos;t forget to fill out your profile to help us provide you with the most relevant content and recommendations.
    .u-row-container(style='padding: 0px;background-color: transparent')
        .u-row(style='margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
            div(style='border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;')

                .u-col.u-col-100(style='max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;')
                    div(style='background-color: #000000;height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')

                        div(style='box-sizing: border-box; height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                            table#u_content_heading_2(style="font-family:'Raleway',sans-serif;" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                                tbody
                                    tr
                                        td.v-container-padding-padding(style="overflow-wrap:break-word;word-break:break-word;padding:60px 10px 10px 40px;font-family:'Raleway',sans-serif;" align='left')
                                            h1.v-text-align.v-font-size(style='margin: 0px; color: #ffffff; line-height: 140%; text-align: left; word-wrap: break-word; font-size: 22px; font-weight: 400;')
                                                span(data-metadata='<!--(figmeta)eyJmaWxlS2V5IjoiaUdkbDhwdlZkTlBQU2x2aTlkeXpHRyIsInBhc3RlSUQiOjIwMjM3MDI2MTAsImRhdGFUeXBlIjoic2NlbmUifQo=(/figmeta)-->')
                                                strong
                                                    | Thank you for choosing Hortus as your gardening companion.
                                                    br
                                                    br
                                                    | We&apos;re here to support you on your journey to greener and more beautiful surroundings.
                            table#u_content_text_5(style="font-family:'Raleway',sans-serif;" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                                tbody
                                    tr
                                        td.v-container-padding-padding(style="overflow-wrap:break-word;word-break:break-word;padding:10px 60px 25px 40px;font-family:'Raleway',sans-serif;" align='left')
                                            .v-text-align.v-font-size(style='font-size: 14px; color: #b8b8b8; line-height: 170%; text-align: left; word-wrap: break-word;')
                                                p(style='line-height: 170%;')
                                                    span(style='line-height: 23.8px;')
                                                        | If you have any questions, need assistance, or simply want to share your gardening successes, feel free to reach out to our friendly customer support team at &nbsp;
                                                        a(href='www.unlayer.com') hortus@support.com
                                                        | .
                                                p(style='line-height: 170%;')
                                                    span(style='line-height: 23.8px;') We&rsquo;d love to hear from you!
                                                p(style='line-height: 170%;')
                                                    span(style='line-height: 23.8px;')
                                                        br
                                                        | Stay tuned for exclusive offers, gardening tips, and exciting updates delivered directly to your inbox by subscribing to our newsletter!
                                                        br
                                                p(style='line-height: 170%;') Happy Gardening! &#x1F33F;&#x1F33B;